.home {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  .profile-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
    font-size: 24px;
    font-weight: 700;
    margin-left: 10px;
  }
  .logout-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    img {
      width: 30px;
      cursor: pointer;
    }
  }
}
