.main-container {
  .logo-image {
    width: 500px;
  }
  .react-text {
    font-size: 90px;
    font-weight: 700;
    color: #444444;
  }
  .mr-30 {
    margin-right: 60px;
  }
  .btn-container {

    display: flex;
    justify-content: center;
    margin-top: 80px;
    .facebook-button {
      display: flex;
      cursor: pointer;
      .logo {
        background-color: #3c5993;
        padding: 15px 20px 10px 25px;
        color: #fff;
        font-weight: 700;
        font-size: 30px;
        border-radius: 5px 0px 0px 5px;
      }
      .btn {
        background-color: #3c5993;
        // padding: 10px 30px 10px 10px;
        color: #fff;
        font-weight: 700;
        font-size: 20px;
        border-radius: 0px 5px 5px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .kep-login-facebook {
        background-color: #3c5993 !important;
        border-radius: 0px 5px 5px 0px;
        border-left: 1px solid #868686;
        text-transform: unset !important;
      }
    }
    .google-button {
      display: flex;
      cursor: pointer;
      .logo {
        background-color: #dd4c39;
        padding: 15px 20px 10px 25px;
        color: #fff;
        font-weight: 700;
        font-size: 30px;
        border-radius: 5px 0px 0px 5px;
      }
      .btn {
        border-left: 1px solid #868686;
        background-color: #dd4c39;
        padding: 10px 30px 10px 10px;
        color: #fff;
        font-weight: 700;
        font-size: 20px;
        border-radius: 0px 5px 5px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .google-button {
        background-color: #dd4c39 !important;
        border: unset !important;
        box-shadow: unset !important;
        color: #fff !important;
        font-weight: 700 !important;
        font-size: 20px !important;
        span {
          font-weight: 700 !important;
          font-size: 18px !important;
          padding: 0px 0px 0px 15px !important;
        }
      }
      .google-button > div:first-child {
        display: none;
      }
    }
  }
}
